.container {
    margin-top: 60px;
    padding: 0px 0px 30px 0px;
}

.sectionFooterAdvFM {
    margin-top: 60px;
    padding: 0px 0px 30px 0px;
    background-image: url('../public/waves-footer.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}