@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

:root {
    --color-advWhite: #ffffff;
    --color-advPrimaryBlue: #005BBB;
    --color-advPrimaryBlue2: #0167CB;
    --color-advPrimaryBLueDark: #3838B3;
    --color-advOrange: #FDB415;
    --off-white: #F5F5F3;
}

body {
    color: var(--off-white);
    background-color: var(--color-advPrimaryBlue);
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
}
/* body:before {
    content: ' ';
    position: fixed;
    width: 100%;
    z-index: 1;
} */

.bg-blue-PrimaryDark {
    --bg-opacity: 1;
    background-color: #2a4365;
    background-color: var(--color-advPrimaryBLueDark);
}
.hover\:bg-blue-PrimaryDark:hover {
    --bg-opacity: 1;
    background-color: #2a4365;
    background-color: var(--color-advPrimaryBLueDark);
}

.bt-adv-overlay-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

.content {}

.hentry {
    position: relative;
    min-height: 130px;
}

.section_advfm {
    padding: 0px 35px 0px 35px;
    position: relative;
}

.bg-adv-orange {
    background-color: var(--color-advOrange);
}
.bg-adv-blue2 {
    background-color: var(--color-advPrimaryBlue2);
}



.wordingIntro {
    margin-top: 170px;
    margin-bottom: 200px;
    margin-left: 50px;
}
.wordingIntro .bt-adv-heading-primary {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 10.51px;
}
.wordingIntro .bt-adv-heading-secondary {
    font-size: 60px;
    line-height: 0.4em;
    letter-spacing: -1.6px;
    color: var(--color-advOrange);
    max-width: 655px;
    margin-bottom: .6em;
}
.wordingIntro .bt-adv-heading-secondary .bt-head-highlight {
    font-size: 60px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.2em;
    letter-spacing: -1.6px;
    color: var(--color-advWhite);
}
.wordingIntro .bt-adv-heading-secondary .bt-head-highlight + .dot-adv-orange {
    /* color: var(--color-advOrange); */
    font-size: 120px;
    margin-left: 5px;
}
.wordingIntro .bt-adv-heading-intro-description {
    /* color: var( --e-global-color-text ); */
    font-size: 16px;
    font-weight: 400;
    max-width: 280px;
}