.elementWavesYellow {
    transform: rotate(15deg);
    width: auto;
    max-width: 100%;
    position: absolute;
    top: -10%;
    right: -10%;
    animation-timing-function: cubic-bezier(0.25,0.46,0.45,0.94);
    margin-bottom: 0;
}
.elementWavesYellow .btMediaImage {
    max-width: 70%;
    transition: all 300ms ease-out;
}

.elementOrang {
    width: auto;
    max-width: 100%;
    position: absolute;
    top: -3%;
    right: 27%;
    animation-duration: 2500ms;
    animation-delay: 950ms;
    animation-timing-function: cubic-bezier(0.165,0.84,0.44,1);
}

.elementWavesBlue {
    width: auto;
    max-width: 100%;
    position: absolute;
    top: -20%;
    right: -35px;
}
.elementLineYellow {
    width: auto;
    max-width: 100%;
    position: absolute;
    top: 0%;
    left: -10%;
    animation-duration: 3000ms;
    animation-delay: 500ms;
    animation-timing-function: cubic-bezier(0.785,0.135,0.15,0.86);
}

.elementWavesTop {
    width: auto;
    max-width: 100%;
    position: absolute;
    top: -40%;
    left: -15%;
}
.elementLineYellowTop {
    width: auto;
    max-width: 100%;
    position: absolute;
    top: -20%;
    left: -10%;
}



@media screen and (max-width: 1600px) and (min-width: 1026px) {
    .elementWavesYellow {
        right: -40%;
    }
    .elementOrang {
        right: 2%;
        top: 0%;
    }
    .elementOrang .btMediaImage {
        max-width: 75%;
        transition: all 300ms ease-out;
    }
    .elementWavesBlue {
        right: -120px;
    }
    .elementLineYellow {

    }    
}
