.section_produk {
    margin-top: 80px;
    margin-bottom: 0px;
    padding: 0px 35px 0px 35px;
    position: relative;

    .bt-adv-heading-primary {
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 10.51px;
    }

    .bt-adv-heading-secondary {
        max-width: 550px;

        .bt-head-highlight {
            font-size: 50px;
            font-weight: 700;
            text-transform: capitalize;
            line-height: 1.2em;
            letter-spacing: -1px;
            max-width: 320px;
            color: var(--color-advWhite);
        }
    }
}